<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>CFBundleAlternateIcons</key>
	<dict>
		<key>BlueIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>BlueIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>DefaultIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>DefaultIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>GreenIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>GreenIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>RedIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>RedIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>Yellow Icon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>YellowIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
